h1{
    text-align: center;
    text-decoration: underline;
    font-family: cursive;
    font-size: 48px;
}

#copyright{                 
    transition: transform 50s ease-in-out;
}

#copyright:hover {
    transform: rotateY(-36000deg);
   
} 

footer {
    text-align: center;
    font-style: italic;
    font-family: cursive;

}

td{
    border: 2px solid black;

}

.begone{
    border: none;

}

.tempgone{
    border: none;
}

td, tr{
    height: 150px;
    width: 150px;
}

table{
    text-align: center;
}
li{
    font-size: 18px;
}