body{
    background-color: cadetblue;
}

h1{
    text-align: center;
    text-decoration: underline;
    font-family: cursive;
    font-size: 20px;
}

h2{
    text-align: center;
    font-family: cursive;
}

#copyright{                 
    transition: transform 50s ease-in-out;
}

#copyright:hover {
    transform: rotateY(-36000deg);
   
} 

footer {
    text-align: center;
    font-style: italic;
    font-family: cursive;

}

th{
    font-size: 20px;
    width: 150px;

}

td{
    border: 2px solid black;

}

.gitloc{
   font-size: xx-large;
  color: aliceblue;
  text-decoration: underline overline;
}

.begone{
    border: none;

}

.tempgone{
    border: none;
}

#lowright{
    opacity: 0;
}
#upmid{
    opacity: 0;
}

#hideOrigin{
    opacity: 0;
}

td, tr{
    height: 150px;
    width: 150px;
}



table{
    text-align: center;
    margin-left: 40%;
}
li{
    font-size: 23px;
    font-family: cursive;


}

p{
    font-size: 18px;
    font-family: cursive;
    text-align: justify;
    
}

.visible {
    font-weight: bolder;
    text-decoration: underline;
    color: chartreuse;
    cursor: pointer;
}

div{
    padding-left: 300px;
    padding-right: 300px;
}